html{
  background-color:black;
}

body{
  margin: 0% 12%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: white;
}

header{
  display: block;
  background-color:#ffffff;
  margin-bottom:1%;
  margin-top:-2.5%;
}

header a:link{
  padding:1.5% 3%;
  display:inline-block;
  vertical-align: middle;
  color:#d683ef;
  text-decoration: none;
  font-family: 'Happy Monkey', cursive;
}

header a:hover{
  background-color:#f6dbff;
  transition: 0.5s;
}

header a:active{

}

header a:visited{
  color:#d683ef;
}

.home{
  padding:1.5% 3%;
}

a.home:hover{
  background-color:#ffffff;
  padding:1.5% 3%;
}

form{
  padding:0.5%;
  text-align:center;
}

.ask{
  font-size:40px;
  text-align:center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.space{
  padding-bottom:2%;
}

.feeling{
  display:block;
  margin:auto;
  padding-bottom:3%;
}

.signin{

  display:inline-block;
  vertical-align: middle;
}

img.head{
  max-width:100%;
  max-height:10%;
  margin-top:-3.2%;
}

input{
  padding:1%;
}
